:root {
    --list-width: 15rem;
    --list-height: 8rem;

    --list-color: #5bcc5b;
    --list-display-margin: 2rem;

    --category-width: 15rem;
}

body {
    font-size: 10px;
    font-family: sans-serif;
    background-color: #fafafa;
    padding: 1rem;
    margin: 0;
}

.lists {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.new-list {
    width: var(--list-width);
    height: var(--list-height);
    outline: 0.3rem dashed #000;
    color: #000;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: bold;
    margin: 0.5rem;
}
.list {
    width: var(--list-width);
    height: var(--list-height);
    color: #000;
    border-radius: 0.5rem;
    background-color: var(--list-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5rem;
    position: relative;
}
.list-name {
    font-size: 1.5rem;
    font-weight: normal;
    text-align: left;
    margin-left: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.list-icons {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.list-icon {
    cursor: pointer;
    margin-left: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
}
.list-icon.delete {
    fill: #cf1414;
}

.list-display {
    position: absolute;
    top: var(--list-display-margin);
    left: var(--list-display-margin);
    width: calc(100% - var(--list-display-margin) * 2);
    height: calc(100% - var(--list-display-margin) * 2);
    border-radius: 0.5rem;
    background-color: rgb(115, 241, 147);
    display: none;
}
.close-list {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #cf1414;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    line-height: 0.75;
}
.list-name {
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
    margin-left: 1rem;
    margin-top: 0.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.category {
    width: var(--category-width);
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: rgb(84, 185, 84);
}